body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/aboutme/assets/img/train.gif');
    background-size: cover;
}

.resume {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    transition: background-color 0.5s;
}

.profile-picture {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
